<div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
  <dl class="Polaris-DescriptionList">
  	{{#each shop.shop}}
	    <dt class="Polaris-DescriptionList__Term">{{@key}}</dt>
	    <dd class="Polaris-DescriptionList__Description">{{this}}</dd>
	{{/each}}
  </dl>
</div>


         

        
